html,
body {
  height: 100%;
}
body {
  font: 18px "Lab Grotesque K", "Segoe UI", Arial, sans-sefif;
  color: #222;
}

.Layout {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 232px auto;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
}